header {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);

    opacity: 0.5;
}

header .container {
    position: relative;
    z-index: 2;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}



@media (min-width: 768px) {
    .logo {
        width: 250px;
    }
}

@media (max-width: 590px) {
    .logo {
        width: 150px;
    }
}

@media (max-width: 1117px) {
    .lista {
        display: none;
    }
}

@media (min-width: 1118px) {
    .lista2 {
        display: none;
    }
}

@media (max-width: 590px) {
    .lista2 {
        display: none;
    }
}



@media (max-width: 1400px) {
    .vid {
        display: block;
        justify-content: center;
    }
}

@media (min-width: 1400px) {
    .vid {
        display: flex;
        text-align: start;
    }
}

@media (max-width: 1400px) {
    .vid2 {
        display: block;
        justify-content: center;
    }
}

@media (min-width: 1400px) {
    .vid2 {
        display: flex;
        text-align: end;
    }
}





@media (max-width: 769px) {
    .mer {
        margin-top: 20vh;
    }
}

@media (min-width: 769px) {
    .mer {
        margin-top: 35vh;
    }
}











